@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-group {
  position: relative;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #000000;
  background-color: transparent;
  outline: 2px solid #5a5ead;
}

.input-lable {
  color: #6674a7;
  position: absolute;
  top: 9px;
  left: 10px;
  transition: 0.25s;
  cursor: text;
  font-size: 15px;
}

.input:is(:focus, :valid) + .input-lable {
  transform: translate(-12px, -20px) scale(0.8);
  padding-inline: 5px;
  background-color: #ffffff;
}

.input:is(:focus, :valid, :hover) {
  outline: 2px solid #5c48a5;
}
