*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.div__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d1d1d;
    color: #fff;
}

.btn{
    color: #fff;
    padding: 12px 30px;
    font-size: 20px;
    background: transparent;
    border: 2px solid yellow;
    border-radius: 10px;
    box-shadow: 1px 1px 13px yellow;
}